.circle {
  box-shadow: 0 0 20px #ff510071;
  //animation: pulsing 2s infinite;
  // &:hover {
  //   animation-play-state: paused;
  // }
}

@keyframes pulsing {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
