@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: rgba(201, 187, 181, 0.0470588235);
}